# Import data from csv

In [3]:
import os
import pandas as pd


# Read each file into a DataFrame and store them in a list
dfs = [pd.read_csv(f"./data/spx_eod_2023{i:02}.txt", parse_dates=True, low_memory=False) for i in range(1,13)]

# Concatenate the DataFrames
df_concat = pd.concat(dfs)

print(df_concat.head())  # Print the first few rows of the concatenated DataFrame

   [QUOTE_UNIXTIME]   [QUOTE_READTIME]  [QUOTE_DATE]   [QUOTE_TIME_HOURS]  \
0        1672866000   2023-01-04 16:00    2023-01-04                 16.0
1        1672866000   2023-01-04 16:00    2023-01-04                 16.0
2        1672866000   2023-01-04 16:00    2023-01-04                 16.0
3        1672866000   2023-01-04 16:00    2023-01-04                 16.0
4        1672866000   2023-01-04 16:00    2023-01-04                 16.0

    [UNDERLYING_LAST]  [EXPIRE_DATE]   [EXPIRE_UNIX]   [DTE]  [C_DELTA]  \
0             3853.39     2023-01-04      1672866000     0.0        1.0
1             3853.39     2023-01-04      1672866000     0.0        1.0
2             3853.39     2023-01-04      1672866000     0.0        1.0
3             3853.39     2023-01-04      1672866000     0.0        1.0
4             3853.39     2023-01-04      1672866000     0.0        1.0

   [C_GAMMA]  ...  [P_LAST]  [P_DELTA]  [P_GAMMA]  [P_VEGA]  [P_THETA]  \
0        0.0  ...      0.03        0.0        0.0   0.00023   -0.02481
1        0.0  ...       0.0        0.0        0.0   0.00044   -0.02531
2        0.0  ...       0.0   -0.00025        0.0   0.00059   -0.02508
3        0.0  ...       0.0        0.0        0.0   0.00114   -0.02538
4        0.0  ...       0.0        0.0        0.0     0.001    -0.0255

   [P_RHO]     [P_IV]  [P_VOLUME]  [STRIKE_DISTANCE]   [STRIKE_DISTANCE_PCT]
0 -0.00033   8.175360    7.000000             2853.4                   0.740
1      0.0   7.067240                         2653.4                   0.689
2 -0.00044   6.138930                         2453.4                   0.637
3      0.0   5.331250                         2253.4                   0.585
4  -0.0002   4.616440                         2053.4                   0.533

[5 rows x 33 columns]

In [4]:
df_concat

,[QUOTE_UNIXTIME],[QUOTE_READTIME],[QUOTE_DATE],[QUOTE_TIME_HOURS],[UNDERLYING_LAST],[EXPIRE_DATE],[EXPIRE_UNIX],[DTE],[C_DELTA],[C_GAMMA],...,[P_LAST],[P_DELTA],[P_GAMMA],[P_VEGA],[P_THETA],[P_RHO],[P_IV],[P_VOLUME],[STRIKE_DISTANCE],[STRIKE_DISTANCE_PCT]
0,1672866000,2023-01-04 16:00,2023-01-04,16.0,3853.39,2023-01-04,1672866000,0.0,1.0,0.0,...,0.03,0.0,0.0,0.00023,-0.02481,-0.00033,8.175360,7.000000,2853.4,0.740
1,1672866000,2023-01-04 16:00,2023-01-04,16.0,3853.39,2023-01-04,1672866000,0.0,1.0,0.0,...,0.0,0.0,0.0,0.00044,-0.02531,0.0,7.067240,,2653.4,0.689
2,1672866000,2023-01-04 16:00,2023-01-04,16.0,3853.39,2023-01-04,1672866000,0.0,1.0,0.0,...,0.0,-0.00025,0.0,0.00059,-0.02508,-0.00044,6.138930,,2453.4,0.637
3,1672866000,2023-01-04 16:00,2023-01-04,16.0,3853.39,2023-01-04,1672866000,0.0,1.0,0.0,...,0.0,0.0,0.0,0.00114,-0.02538,0.0,5.331250,,2253.4,0.585
4,1672866000,2023-01-04 16:00,2023-01-04,16.0,3853.39,2023-01-04,1672866000,0.0,1.0,0.0,...,0.0,0.0,0.0,0.001,-0.0255,-0.0002,4.616440,,2053.4,0.533
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177769,1703883600,2023-12-29 16:00,2023-12-29,16.0,4772.17,2029-12-21,1892581200,2184.0,0.29633,0.00012,...,0.0,-1.0,0.0,0.0,0.0,0.0,,,2427.8,0.509
177770,1703883600,2023-12-29 16:00,2023-12-29,16.0,4772.17,2029-12-21,1892581200,2184.0,0.27129,0.0001,...,0.0,-1.0,0.0,0.0,0.0,0.0,,,2627.8,0.551
177771,1703883600,2023-12-29 16:00,2023-12-29,16.0,4772.17,2029-12-21,1892581200,2184.0,0.24709,0.00014,...,0.0,-1.0,0.0,0.0,0.0,0.0,,,2827.8,0.593
177772,1703883600,2023-12-29 16:00,2023-12-29,16.0,4772.17,2029-12-21,1892581200,2184.0,0.22447,0.00015,...,0.0,-1.0,0.0,0.0,0.0,0.0,,,3027.8,0.634
177773,1703883600,2023-12-29 16:00,2023-12-29,16.0,4772.17,2029-12-21,1892581200,2184.0,0.20224,0.0001,...,0.0,-1.0,0.0,0.0,0.0,0.0,,,3227.8,0.676

In [5]:
df_concat.columns = df_concat.columns.map(lambda x: str(x).strip().strip('[]').lower())

In [6]:
df_concat.c_iv = pd.to_numeric(df_concat['c_iv'], errors='coerce') 
df_concat.p_iv = pd.to_numeric(df_concat['p_iv'], errors='coerce') 
df_concat.c_volume = pd.to_numeric(df_concat['c_volume'], errors='coerce') 
df_concat.p_volume = pd.to_numeric(df_concat['p_volume'], errors='coerce') 
df_concat.quote_readtime = pd.to_datetime(df_concat['quote_readtime'], errors='coerce') 
df_concat.quote_date = pd.to_datetime(df_concat['quote_date'], errors='coerce') 
df_concat.expire_date = pd.to_datetime(df_concat['expire_date'], errors='coerce')
df_concat.c_delta = pd.to_numeric(df_concat['c_delta'], errors='coerce')
df_concat.p_delta = pd.to_numeric(df_concat['p_delta'], errors='coerce')
df_concat.c_gamma = pd.to_numeric(df_concat['c_gamma'], errors='coerce')
df_concat.p_gamma = pd.to_numeric(df_concat['p_gamma'], errors='coerce')
df_concat.c_theta = pd.to_numeric(df_concat['c_theta'], errors='coerce')
df_concat.p_theta = pd.to_numeric(df_concat['p_theta'], errors='coerce')
df_concat.c_vega = pd.to_numeric(df_concat['c_vega'], errors='coerce')
df_concat.p_vega = pd.to_numeric(df_concat['p_vega'], errors='coerce')
df_concat.c_rho = pd.to_numeric(df_concat['c_rho'], errors='coerce')
df_concat.p_rho = pd.to_numeric(df_concat['p_rho'], errors='coerce')
df_concat.c_bid = pd.to_numeric(df_concat['c_bid'], errors='coerce')
df_concat.p_bid = pd.to_numeric(df_concat['p_bid'], errors='coerce')
df_concat.c_ask = pd.to_numeric(df_concat['c_ask'], errors='coerce')
df_concat.p_ask = pd.to_numeric(df_concat['p_ask'], errors='coerce')
df_concat.c_last = pd.to_numeric(df_concat['c_last'], errors='coerce')
df_concat.p_last = pd.to_numeric(df_concat['p_last'], errors='coerce')

In [7]:
df_concat.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2009083 entries, 0 to 177773
Data columns (total 33 columns):
 #   Column               Dtype
---  ------               -----
 0   quote_unixtime       int64
 1   quote_readtime       datetime64[ns]
 2   quote_date           datetime64[ns]
 3   quote_time_hours     float64
 4   underlying_last      float64
 5   expire_date          datetime64[ns]
 6   expire_unix          int64
 7   dte                  float64
 8   c_delta              float64
 9   c_gamma              float64
 10  c_vega               float64
 11  c_theta              float64
 12  c_rho                float64
 13  c_iv                 float64
 14  c_volume             float64
 15  c_last               float64
 16  c_size               object
 17  c_bid                float64
 18  c_ask                float64
 19  strike               float64
 20  p_bid                float64
 21  p_ask                float64
 22  p_size               object
 23  p_last               float64
 24  p_delta              float64
 25  p_gamma              float64
 26  p_vega               float64
 27  p_theta              float64
 28  p_rho                float64
 29  p_iv                 float64
 30  p_volume             float64
 31  strike_distance      float64
 32  strike_distance_pct  float64
dtypes: datetime64[ns](3), float64(26), int64(2), object(2)
memory usage: 521.2+ MB

In [8]:
df_concat.drop(columns=['quote_unixtime', 'quote_readtime', 'quote_time_hours', 'expire_unix'], inplace = True)

In [9]:
df = df_concat.set_index('quote_date')

In [10]:
df.to_csv('data/spx_eod_2023.csv', index=True)